.wrapper {
  display: flex;
  flex-direction: column;
  height: 100svh;
  position: relative;

  header {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 1;
  
    .pokeball {
      img { height: 24px; }
    }
  
    .brand {
      flex-grow: 1;
      text-align: center;
      padding: 10px 0;
      
      img { height: 40px; }
    }
  }

  & > main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 16px;
    padding-top: 20px;

    @include md { margin: 0 32px; }
    @include lg { margin: 0 64px; }
  }
}