$color-bg-start: #F7F9FB;
$color-bg-end: #C0CBE0;

$color-primary-dark: #1D3550;
$color-primary-light: #FFFFFF;
$color-secondary-dark: #8181B2;
$color-secondary-light: #DDDDDD;

$color-type-colorless: #CCC4C2;
$color-type-darkness: #4E7E9E;
$color-type-dragon: #CAAA61;
$color-type-fairy: #FF9EBE;
$color-type-fighting: #FF804A;
$color-type-fire: #FF5656;
$color-type-grass: #46D1B2;
$color-type-lightning: #FFCF4A;
$color-type-metal: #A8A191;
$color-type-psychic: #9A4AFF;
$color-type-water: #77BEFE;

$color-status-primary-bg: #1D3550;
$color-status-primary-border: #8181B2;
$color-status-primary-text: #FFF;

$color-status-success-bg: #00B377;
$color-status-success-border: #00A36D;
$color-status-success-text: #FFF;

$color-status-warning-bg: #FFA900;
$color-status-warning-border: #DF9613;
$color-status-warning-text: #4B3200;

$color-status-alert-bg: #E6272E;
$color-status-alert-border: #D2242A;
$color-status-alert-text: #FFF;

$color-status-cancel-bg: #FFF;
$color-status-cancel-border: #D3D9DF;
$color-status-cancel-text: #242F43;

$font-family-urbane: "urbane-rounded", sans-serif;
$font-family-roboto: "Roboto", sans-serif;