@mixin deck-color($color) {
  border-color: $color; 
  background-color: $color;
}

@mixin caption($color){
  color: $color-primary-light;
  background-color: lighten($color, 10%);
  padding: 2px 10px;
  border-radius: 10px;
}

.deck{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  border: 2px solid;
  padding: 0 20px;
  border-radius: 5px;
  color: $color-primary-light;

  &::after {
    position: absolute;
    content: "";
    pointer-events: none;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    clip-path: polygon(17% 8%, 25% 0%, 84% 50%, 25% 100%, 17% 92%, 65% 50%);
    background-color: $color-primary-light;
  }

  svg {
    position: absolute;
    z-index: 1;
    right: 0;
    opacity: 0.1;
    
    path {
      fill: $color-primary-light;
    }
  }

  &.deck-colorless {
    @include deck-color($color-type-colorless);
    .caption-colorless { @include caption($color-type-colorless) }
  }

  &.deck-darkness {
    @include deck-color($color-type-darkness);
    .caption-darkness { @include caption($color-type-darkness) }
  }

  &.deck-dragon {
    @include deck-color($color-type-dragon);
    .caption-dragon { @include caption($color-type-dragon) }
  }

  &.deck-fairy {
    @include deck-color($color-type-fairy);
    .caption-fairy { @include caption($color-type-fairy) }
  }

  &.deck-fighting {
    @include deck-color($color-type-fighting);
    .caption-fighting { @include caption($color-type-fighting) }
  }

  &.deck-fire {
    @include deck-color($color-type-fire);
    .caption-fire { @include caption($color-type-fire) }
  }

  &.deck-grass {
    @include deck-color($color-type-grass);
    .caption-grass { @include caption($color-type-grass) }
  }

  &.deck-lightning {
    @include deck-color($color-type-lightning);
    .caption-lightning { @include caption($color-type-lightning) }
  }

  &.deck-metal {
    @include deck-color($color-type-metal);
    .caption-metal { @include caption($color-type-metal) }
  }

  &.deck-psychic {
    @include deck-color($color-type-psychic);
    .caption-psychic { @include caption($color-type-psychic) }
  }

  &.deck-water {
    @include deck-color($color-type-water);
    .caption-water { @include caption($color-type-water) }
  }

}