header {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  z-index: 1;

  .pokeball {
    img { height: 24px; }
  }

  .brand {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    
    img { height: 40px; }
  }
}