.decks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  height: calc(100svh - 80px);
  
  & > main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    height: 100%;

    .card-decks {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  & > footer {
    padding: 20px 0;
  }
}