.modal {
  background-color: $color-primary-light;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 36px;

  &.modal-success { border-top: 3px $color-status-success-bg solid; }
  &.modal-alert { border-top: 3px $color-status-alert-bg solid; }

  img { width: 139px; }
}